html{
    font-family: sans-serif;
}

body{
    max-width: 800px;
    margin: auto;
    padding: 0 15px;
}

.add-a-new-book{
    background-color: lightgreen;
    color: rgb(56, 56, 56);
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: 8px 16px;
    margin-bottom: 8px;

}
.add-a-new-book:hover{
    background-color: rgb(139, 255, 139);
}
.add-a-new-book:focus{
    outline: none;
}
.book-adder[open]{
    border: 1px solid rgb(141, 141, 141);
    border-radius: 10px;
    margin-top: 100px;
    padding: 10px;
    background-color: white;
    min-width: 660px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    
    .lv1{
        min-width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        .lv2{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1em;
            & label{
                display: inline-block;
                width: 80px;
                flex: 0 0 auto;
            }
        }
        & input, & select, & button{
            font-size: 1em;
            border: 1px solid rgb(191, 191, 191);
            border-radius: 1em;
            background-color: gainsboro;
            height: 1.8em;
            padding-left: 1em;
            padding-right: 1em;
            box-sizing: border-box;
            width: 240px;
        }
        & button{
            background-color: lightgreen;
            border: 1px solid rgba(255, 255, 255, 0);
        }
        & input:focus, & select:focus, & button:focus{
            outline: none;
            border: 1px solid rgb(63, 136, 232);
            box-shadow: 0px 2px 3px rgb(193, 193, 193);
        }
    }
}

.list-container{
    margin-top: 0px;

    .book-list-header{
        display: flex;
        min-width: fit-content;
        gap: 2px;

        .column-header{
            padding: 3px;
            font-size: 18px;
            background-color: rgb(210, 185, 166);
        }
    }
    .book-list{
        min-width: fit-content;
        display: flex;
        flex-direction: column;
        .book{
            position: relative;
            display: flex;
            & *{
                padding: 3px;
            }
            .delete-button{
                display: none;
            }
        }
        .book:nth-child(even){
            background-color: #f2ece7;
        }
        .book:nth-child(odd){
            background-color: #f6f1ee;
        }
        .book:hover{
            background-color: white;
            .delete-button{
                display: inline;
                position: absolute;
                right: 100px;
            }
        }
    }
    .title-col{
        flex: 1 0 auto;
        width: 200px;
    }
    .author-col{
        flex: 1 0 auto;
        width: 200px;
    }
    .status-col{
        flex: 0 0 auto;
        width: 80px;
    }
}